body {
    background-image: linear-gradient(to bottom right, grey, whitesmoke);
    height: 100%;
}


ul {
    list-style-type: none;
    margin: 1px;
    padding: 10px;
    overflow: hidden;
    background-color: grey;
    position: fixed;
    top: 27px;

}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


img {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    margin: 50px;
}

.column {
    flex: 16.66%;
    padding: 5px;
    text-align: center;

}


h1 {
    text-align: center;
    color: black;
}

.bilder {
    width: 400px;
    height: 400px;
    background-color: blue;
    position: relative;
    left: 350px;

}


.medier {
    display: flex;
    width: 20%;
    height: 20%;
    position: relative;
    left: 52%;
    top: -400px;
}


.info {
    font-family: Serif;
    width: 600px;
    font-size: 13px;
    color: black;
    background-color: ghostwhite;
    position: relative;
    left: 780px;
    bottom: 400px;
    padding: 10px;

}

h1 {
    text-align: center;
}

h2 {
    color: black;
}


.klokken {
    position: relative;
}

.download {
    width: 50px;
    height: 50px;
}

.info\.etkar {
    font-family: sans-serif;
    width: 600px;
    font-size: 15px;
    background-color: white;
    position: relative;
    left: 780px;
    bottom: 400px;
    padding: 10px;
    padding-bottom: 120px;
}
.knapper {
    margin:10px;
    padding:10px;
    background-color: grey;
    text-align: center;
    top:5px;
    right:50px;
    float:left;
    position:fixed;
}

.downloads {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
.knapp {
    background-color: coral;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
.downloads:hover {
    background-color: black;
    color: white;
}

.tekst {
    margin:400px;
    background-color: black;
    text-align: center;
    position: static;
    bottom:40px;
    font-size: 10px;
}
vid {
    display: flex;
    float: right;
}
article {


margin: 0 auto;
padding: 20px 15px;
    height: 2000px;
max-width: 1080px;
background: cornflowerblue;
box-sizing: border-box;
}

container{
    float:right;
    width: 70%;
}

.matContainer {
    float:right;
    width: 70%;
    background-color: grey;
}

.inline-block {
    text-align: center;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
}

sidebar{
    width: 30%;
}

header {

}

section {
    background: red;

}

@media only screen and (max-width: 900px) {
    article {
        font-size: 20px;
    }
     code {
         font-size: 50%;
         position:relative;
         max-width: 90%;

     }

     iframe {
         width: 50%;
         height: 50%;
     }



    }
    aside {
        background-color: red;
        display: inline-block;
        visibility: hidden;
   }
    .row {
        display:inline-block;
        width: 20%;
        position: relative ;
        left: 300px;
    }
code  {
    display: inline-block;
    float:right;
    padding-right: 5%;
    padding-top:5% ;
    margin: auto;


}
pre {
    background-color: white;
}
.matBilder {
    width: 100%;
    height: 30%;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    position: relative;
    flex-direction:row-reverse;
    top:20px;


}
.BilderMatC {
    float: left;
    width: 30%;
}
headerMat {
    font-family: "Engravers MT";

}
.matVid {
    margin-left: 15%;
    margin-right: 15%;
    background-color: grey;
}
iframe  {
    position: relative;
    left: 25%;
}
.knapp1 {
    position: relative;
    top:10px;
    border-radius: 100%;
    color: white;
    background-color: grey;
}

