body {
    background-image: linear-gradient(to bottom right, grey, whitesmoke);
    height: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    position: fixed;

}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


img {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 16.66%;
    padding: 1px;
}


h1 {
    text-align: center;
    color: black;
}

.bilder {
    width: 400px;
    height: 400px;
    background-color: blue;
    position: relative;
    left: 350px;

}


.medier {
    width: 60px;
    height: 60px;
    position: relative;
    left: 1420px;
    bottom: 578px;
}

.info {
    font-family: Serif;
    width: 600px;
    font-size: 13px;
    color: black;
    background-color: white;
    position: relative;
    left: 780px;
    bottom: 400px;
    padding: 10px;

}

h1 {
    text-align: center;
}

h2 {
    color: black;
}


.klokken {
    position: relative;
}

.download {
    width: 50px;
    height: 50px;
}

.info\.etkar {
    font-family: sans-serif;
    width: 600px;
    font-size: 15px;
    background-color: white;
    position: relative;
    left: 780px;
    bottom: 400px;
    padding: 10px;
    padding-bottom: 120px;
}
